.container {
  display: grid;
}

.websiteTitle {
  font-size: 3em;
  text-align: center;
  margin: 20px;
}

.sessionLinks {
  border: 1px solid black;
  padding: 10px;
  width: 100px;
  text-align: center;
}
.loginLink {
  composes: sessionLinks;
}
.signUpLink {
  composes: sessionLinks;
}
