.container {
  display: grid;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
}

.dancers {
  background-image: url(./dancers.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.websiteTitle {
  font-family: "Merienda One", cursive;
  color: white;
}
